<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="login-dark">
        <form method="post" id="loginForm">
            {% csrf_token %}
            <h2 class="sr-only">Login</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" style="color: black;" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" style="color: black;" placeholder="Password"></div>
            <div class="form-group "><a href="{% url 'dashboard' %}" class="btn btn-primary btn-block">Log In</a></div>
            <a class="forgot" id="toRegister" href="#">Dont have an account?</a>
            <a class="forgot" id="toReset" href="#">Forgot your email or password?</a>
        </form>
        <form method="post" action="" id="registrationForm" style="display: none;">
            {% csrf_token %}
            <h2 class="sr-only">Registration</h2>
            <div class="illustration"><i class="icon ion-ios-contact"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="names" style="color: black;" placeholder="Full Names" required></div>
            <div class="form-group"><input class="form-control" type="tel" name="tel" style="color: black;" placeholder="Phone Numbers" required></div>
            <div class="form-group">
                <select class="form-control " style="color: #6f7a85;">
                    <option selected>FNB</option>
                    <option value="2">NedBank</option>
                    <option value="3">Standard Bank</option>
                    <option value="3">PostBank</option>
                </select>
                <div class="form-group"><input class="form-control" type="text" name="AccNumber" style="color: black;" placeholder="Account Number"></div>
            </div>
            <div class="form-group"><input class="form-control" type="email" name="text" style="color: black;" placeholder="Referral Code"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" style="color: black;" placeholder="Email" required></div>
            <div class="form-group"><input class="form-control" type="password" name="password" style="color: black;" placeholder="Password" required></div>
            <div class="form-group"><input class="form-control" type="password" name="password" style="color: black;" placeholder="Confirm Password" required></div>
            <div class="form-group "><button class="btn btn-primary btn-block" type="submit">Register</button></div>
            <a class="forgot" id="toLogin" href="#">Registered? Login</a>
        </form>
        <form method="post" id="resetForm" style="display: none;">
            <h2 class="sr-only">Forgot</h2>
            <div class="illustration"><i class="icon ion-ios-eye-outline"></i></div>
            <div class=" form-group"><input class="form-control" type="text" name="forgotEmail" style="color: black;" placeholder="Email"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Reset</button></div>
            <a class="forgot" id="toLoginA" href="#">Have an account? Login</a>
            <a class="forgot" id="toRegisterA" href="#">Dont have an account?</a>
        </form>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#toRegister").click(function() {
                $("#loginForm").hide(function() {
                    $("#registrationForm").show();
                });
            });
            $("#toLogin").click(function() {
                $("#registrationForm").hide(function() {
                    $("#loginForm").show();
                });
            });
            $("#toReset").click(function() {
                $("#loginForm").hide(function() {
                    $("#resetForm").show();
                });
            });
            $("#toLoginA").click(2000, function() {
                $("#resetForm").hide(function() {
                    $("#loginForm").show();
                });
            });
            $("#toRegisterA").click(2000, function() {
                $("#resetForm").hide(function() {
                    $("#registrationForm").show();
                });
            });
        });
    </script>
</body>

</html>